$backbase-color-primary-100: #14c9eb;
$backbase-color-primary-500: #0c8397;
$backbase-color-primary-700: #0b6a7d;

$backbase-color-accent-100: #ff7736;
$backbase-color-accent-500: #ee7033;
$backbase-color-accent-700: #d76c31;
